name: Build MAUI

on:
  release:
    types: [published]


jobs:
  build-android:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build APK
        run: dotnet publish -f net10.0-android -c Release /p:PublishTrimmed=true /p:AndroidPackageFormat=apk -o ./artifacts/android

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: ./artifacts/android/*.apk

# iOS část je zatím vynechána
#  build-ios:
#    runs-on: macos-latest
#    steps:
#      - uses: actions/checkout@v4
#
#      - name: Setup .NET
#        uses: actions/setup-dotnet@v4
#        with:
#          dotnet-version: "10.0.x"
#
#      - name: Restore
#        run: dotnet restore
#
#      - name: Build IPA
#        run: dotnet publish -f net10.0-ios -c Release /p:BuildIpa=true -o ./artifacts/ios
#
#      - name: Upload IPA
#        uses: actions/upload-artifact@v4
#        with:
#          name: ios-ipa
#          path: ./artifacts/ios/*.ipa
